.tableContainer {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: plum;
}

.transactionHistory {
    width: 500px;
    align-content: center;
    margin: 50px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    
}

.tableHeader {
    font-size: 15px;
    color: white;
    padding: 20px 0; 
    background-color: turquoise;
    text-transform: uppercase;
    
}

.tableRow {
    font-size: 15px;
    text-transform: capitalize;
    color: black;
    background-color: darkgray;
    text-align: center;
    
}

.tableRow:nth-child(even) {
    background-color: #f2f2f2;

}

.tableData {
    padding: 10px 0;

}



